<div class="col-md-12">
	<div class="well">
  <h3><%= link_to task.description, task, remote: true, method: :delete, data: {confirm: 'Are you sure?'} %> </h3>
  

  <p><%= local_time(task.deadline, '%B, %e, %Y %l:%M%P') %></p>

  <p >
  <%= link_to edit_task_path(task), remote: true do %>
  <button class="btn btn-warning"><i class="fa fa-meh-o"></i> Edit</button>
  <% end %>


  <%= link_to task, remote: true, method: :delete,
        data: { confirm: 'Are you sure?' } do %>
        <button class="btn btn-danger"><i class="fa fa-bomb"></i> Delete</button>
        <% end %>

    </p>
    </div>
</div>